<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stream4k iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Stream4k.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>080950C61C4EBC3600552C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>080950D91C4EBC3700552C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>080950E41C4EBC3700552C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085239B51C4BDC2800F50906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085239C61C4BDC2900F50906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085239D11C4BDC2900F50906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
